body {
    margin: 0 auto;
    max-width: 2000px;
    background-color: #333333;
}

li {
    list-style: none;
}

#admin-panel {
    padding: 40px 60px;
}

#admin-panel .editor {
    background-color: #ffffff;
    padding: 40px 60px;
}

#admin-panel .editor .element {
    display: flex;
    border: 1px solid #333333;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
    align-items: center;

}

#admin-panel .editor .new {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 52px;
    cursor: pointer;
}

#admin-panel .editor .element .card {
    display: flex;
    justify-content: start;
    gap: 5px;
    align-items: center;
}

#admin-panel .editor .element .card .text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
}

#admin-panel .editor .element .card .text input[type=text]{
    padding: 10px;
    font-size: 20px;
}

#admin-panel .editor .element .card .card-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#admin-panel .editor .element .card .card-img img {
    width: 250px;
}

#admin-panel .editor .element .event {
    display: flex;
    gap: 20px;
}

#admin-panel .editor .element .event span {
    border: 1px solid #333333;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

#admin-panel .editor .element .event .edit:hover,
#admin-panel .editor .element .event .save:hover {
    background-color: #367E62;
    color: #ffffff;
}

#admin-panel .editor .element .event .delete:hover,
#admin-panel .editor .element .event .cancel:hover {
    background-color: #b53737;
    color: #ffffff;
}

.view {
    display: flex;
    justify-content: center;
    margin: auto;
    color: #ffffff;
    font-weight: 600;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: #367E62;
    border: 0;
    transition: 0.5s;
}

.view:hover {
    background-color: #429977;
    border: 4px solid #367E62;
    transition: 0.5s;
}

.big-image-card-back {
    background-color: #333333a2;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 100;
}

.big-image-card {
    height: 80vh;
    position: fixed;
    top: 10vh;
    left: 38%;
}

.editing {
    font-style: italic;
}


@media(max-width: 1300px) {

    #admin-panel .editor .element {
        justify-content: center;
    }

    #admin-panel .editor .element .card {
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    #admin-panel .editor .element .card .text {
        flex-direction: row;
        align-items: center;
    }

    #admin-panel .editor .element .event {
        flex-direction: column;
    }
}