* {
    scroll-behavior: smooth;
    font-family: Synonym;
    box-sizing: border-box;
}

body{
    max-width: 2000px;
    margin: 0 auto;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    opacity: 0.4;
    transition: 0.5s;
}

header {
    color: #ffffff;
    background-color: #333333;
    padding: 40px 60px;
}

header a {
    color: #ffffff;
}

h1 {
    padding: 0 60px;
    font-size: 52px;
}

.hero {
}

.hero img {
    border-radius: 20px;
    width: 80%;
}

.nav-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    border-bottom: 1px solid #FFFFFF26;
}

.lowbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.source {
    padding: 40px 60px 24px 60px;
    opacity: 0.6;
}

.topic {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #333333;
    padding: 40px 60px 40px 0;
    width: 100%;
}

.sub-menu {
    border-radius: 4px 12px 12px 12px;
    background-color: #ffffff;
    padding: 12px 8px;
    display: none;
    position: fixed;
    margin: 0 -10px;
    border: 1px solid black;
}

.sub-menu a {
    color: #333333 !important;
}

.open-sub-menu:hover>.sub-menu {
    display: block;
}

.open-sub-menu::after {
    content: "˅";
}

.open-sub-menu:hover::after {
    content: "^";
}

.menu-adaptive {
    display: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    border-bottom: 1px solid #FFFFFF26;
}

.menu-adaptive li {
    padding: 10px;
    width: 100%;
}

.nav-toolbar .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-toolbar .logo a img {
    width: 140px !important;
}

.nav-toolbar .logo p {
    width: 180px;
    font-size: 10px;
    opacity: 0.6;
    font-weight: 400;
}

.nav-toolbar .menu {
    display: flex;
    gap: 4px
}

.nav-toolbar .menu li {
    padding: 8px 16px;
}

.nav-toolbar .tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: bottom;
}

header .nav-toolbar .tel .tel-open {
    color: #ffffff;
}

.nav-toolbar .tel .tel-open {
    background-color: #ffffff00;
    font-weight: 600;
    border: 1px solid #367E62;
    border-radius: 12px;
    padding: 12px;
    margin-left: 20px;
    transition: 0.5s;
}

.nav-toolbar .tel .tel-open:hover {
    background-color: #367E62;
    color: #ffffff;
    transition: 0.5s;
}

.scrollDown {
    transform: translateY(-500px);
    transition: 0.5s;
}

.scrollUp {
    transform: translateY(0);
    transition: 0.5s;
}

.hide-menu {
    display: none;
    justify-content: center;
    font-size: 20px;
}

/*form*/

.form-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    padding: 60px 80px;
    border-radius: 40px;
    background-image: url('../images/feedback-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1320px;
    margin: 40px auto;
}


.left-block {
    max-width: 50%;
}

.consult-btn {
    padding: 10px 20px;
    border: 1px solid #0000001A;
    border-radius: 20px;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    opacity: 0.6;
}

.headline {
    font-size: 52px;
    font-weight: 700;
    color: #333333;
    margin: 10% 0 5% 0;
}

.description {
    font-size: 20px;
    line-height: 1.6;
    color: #333333;
}

.form-block {
    background: rgba(255, 255, 255, 0);
    padding: 40px;
    border-radius: 30px;
    max-width: 520px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    height: 300px;
    background: transparent;
}

.form-block h2 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 50px;
    margin-top: 5px;
}

form input {
    width: 85%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: transparent;
}

.policy-text {
    font-size: 10px;
    color: #666;
    margin: 10px 0;
}

.policy-text a {
    color: #333333;
    text-decoration: underline;
}

form button {
    width: 221px;
    background-color: #2D7F5E;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

}

.flex {
    display: flex;
    gap: 30px;
    padding-top: 5%;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.popup-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    background-color: #2D7F5E;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}



/*footer*/

footer {
    padding: 40px 60px 40px 0;
    background-color: #ffffff;
    color: #333333;
    font-size: 10px;
    line-height: 14px;
}

footer a {
    color: #333333;
}

.thanks-container {
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.thanks-container .thanks .thanks-logo a {
    color: #9F229F;
    font-weight: 400;
    letter-spacing: 0%;
    vertical-align: bottom;
}

@media(max-width: 1300px) {
    .menu-adaptive {
        display: block;
        text-align: center;
    }

    .hide-menu{
        display: flex;
    }

    .nav-toolbar .logo {
        display: flex;
        flex-wrap: wrap;
    }

    .hero {
        text-align: center;
        flex-wrap: wrap;
    }

    nav {
        display: none;
    }

    .sub-menu {
        border-radius: 4px 4px 12px 12px;
        margin-left: 23%;
        padding-inline-start: 0;
    }
}

@media (max-width: 1024px) {

    .nav-toolbar .logo{
        flex-direction: column;
        align-items: center;
    }
    .container {
        flex-direction: column;
        gap: 60px;
        padding: 40px;
    }

    .left-block,
    .form-block {
        max-width: 100%;
    }

    .headline {
        font-size: 42px;
        margin: 5% 0 3% 0;
    }

    .description {
        font-size: 18px;
    }

    .form-block {
        padding: 30px;
        height: auto;
    }

    .form-block h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    form input {
        width: 60%;
    }

    .flex {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
        align-items: center;
    }

    form button {
        width: 60%;
        height: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input {
        width: 100%;
    }

    /*
    form button {
      width: 100%;
    }*/
}

@media (max-width: 600px) {
    *{
        text-align: center;
    }
    .container {
        padding: 20px;
        gap: 40px;
    }

    .headline {
        font-size: 32px;
        margin: 5% 0 3% 0;
    }

    .description {
        font-size: 16px;
    }

    .form-block h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .consult-btn {
        font-size: 12px;
        padding: 8px 16px;
    }

    .policy-text {
        font-size: 9px;
    }

    form button {
        font-size: 13px;
    }

    h1 {
        font-size: 32px
    }
    .form-container{
        flex-direction: column;
        padding: 0;
    }

    .left-block{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
